body {
    background-color: teal;
  }
  .name_div {
    color: blue;
    
  }
  .name_entry {
    color: red;
    padding: 20px;
    border-radius: 40%;
  }
  .name_enter {
    color: blue;
    padding: 10px;
    border-radius: 90%;
    
  }